NODE_ENV=development
PORT=3000

IDENTITY_SERVICE_URL=http://identity-service:3001/
PRODUCT_SERVICE_URL=http://product-service:3002/
MEDIA_SERVICE_URL=http://media-service:3003/
SEARCH_SERVICE_URL=http://search-service:3004/
CART_SERVICE_URL=http://cart-service:3005/
ORDER_SERVICE_URL=http://order-service:3006/
PAYMENT_SERVICE_URL=http://payment-service:3007/
NOTIFICATION_SERVICE_URL=http://notification-service:3008/

REDIS_URL=redis://localhost:6379

JWT_SECRET=YOUR_JWT_SECRET