NODE_ENV=development
PORT=3005

REDIS_URL=redis://localhost:6379

DATABASE_URL=YOUR_DATABASE_URL

RABBITMQ_URL=YOUR_RABBITMQ_URL


PRODUCT_SERVICE_URL=http://product-service:3002/api/product

INTERNAL_SECRET=YOUR_INTERNAL_SECRET