NODE_ENV=development
PORT=3006

REDIS_URL=redis://localhost:6379

DATABASE_URL=YOUR_DATABASE_URL

RABBITMQ_URL=YOUR_RABBITMQ_URL

CART_SERVICE_URL=http://cart-service:3005/api/cart

INTERNAL_SECRET=YOUR_INTERNAL_SECRET